.bulkbar {
    position: absolute;
    bottom: var(--baseSpacing);
    left: 50%;
    z-index: 101;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--smWrapperWidth);
    max-width: 100%;
    margin-bottom: 10px;
    padding: 10px var(--smSpacing);
    border-radius: var(--btnHeight);
    background: var(--baseColor);
    border: 1px solid var(--baseAlt2Color);
    @include shadowize();
    transform: translateX(-50%);
}
