.export-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 220px;
    min-height: 0;
    flex-shrink: 0;
    overflow: auto;
    padding: 10px;
    background: var(--baseAlt1Color);
    border-radius: var(--baseRadius);
    .list-item {
        margin: 0;
        width: 100%;
    }
    .form-field {
        margin: 0;
        label {
            width: 100%;
            display: block !important;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.export-preview {
    position: relative;
    flex-grow: 1;
    border-radius: var(--baseRadius);
    overflow: hidden;
    .copy-schema {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .code-wrapper {
        height: 100%;
        code {
            min-height: 100%;
        }
    }
}

.export-panel {
    display: flex;
    width: 100%;
    height: 550px;
    align-items: stretch;
    gap: 15px;
}
