/* remixicon  */
@font-face {
  font-family: 'remixicon';
  src: url('/fonts/remixicon/remixicon.woff2?v=4') format('woff2');
}

/* source-sans-3-regular - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/source-sans-3/source-sans-3-v18-cyrillic_latin_latin-ext-regular.woff2') format('woff2');
}

/* source-sans-3-italic - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/source-sans-3/source-sans-3-v18-cyrillic_latin_latin-ext-italic.woff2') format('woff2');
}

/* source-sans-3-600 - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/source-sans-3/source-sans-3-v18-cyrillic_latin_latin-ext-600.woff2') format('woff2');
}

/* source-sans-3-600italic - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/source-sans-3/source-sans-3-v18-cyrillic_latin_latin-ext-600italic.woff2') format('woff2');
}

/* source-sans-3-700 - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/source-sans-3/source-sans-3-v18-cyrillic_latin_latin-ext-700.woff2') format('woff2');
}

/* source-sans-3-700italic - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/source-sans-3/source-sans-3-v18-cyrillic_latin_latin-ext-700italic.woff2') format('woff2');
}

/* ubuntu-mono-regular - cyrillic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/ubuntu-mono/ubuntu-mono-v17-cyrillic_latin_latin-ext-regular.woff2') format('woff2');
}

/* ubuntu-mono-700 - cyrillic_latin_latin-ext */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/ubuntu-mono/ubuntu-mono-v17-cyrillic_latin_latin-ext-700.woff2') format('woff2');
}
