:root.theme-dark {
    code[class*="language-"],
    pre[class*="language-"] {
        color: #dcdcdc;
        text-shadow: none;
    }

    .token.comment,
    .token.prolog,
    .token.doctype,
    .token.cdata {
        color: #89949b;
    }

    .token.punctuation {
        color: #a0a6ac;
    }

    .token.namespace {
        opacity: .7;
    }

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {
        color: #e34562;
    }

    .token.selector,
    .token.attr-name,
    .token.string,
    .token.char,
    .token.builtin,
    .token.inserted {
        color: #32ad84;
    }

    .token.operator,
    .token.entity,
    .token.url,
    .language-css .token.string,
    .style .token.string {
        color: #dcdcdc;
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
        color: #5499e8;
    }

    .token.function,
    .token.class-name {
        color: #ff944d;
    }

    .token.regex,
    .token.important,
    .token.variable {
        color: #e90;
    }

    .token.important,
    .token.bold {
        font-weight: bold;
    }
    .token.italic {
        font-style: italic;
    }

    .token.entity {
        cursor: help;
    }
}
