.searchbar {
    --searchHeight: 44px;

    outline: 0;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: var(--searchHeight);
    padding: 5px 7px;
    margin: 0;
    white-space: nowrap;
    color: var(--txtHintColor);
    background: var(--baseAlt1Color);
    border-radius: var(--btnHeight);
    transition: color var(--baseAnimationSpeed),
                background var(--baseAnimationSpeed),
                box-shadow var(--baseAnimationSpeed);
    & > :first-child {
        border-top-left-radius: var(--btnHeight);
        border-bottom-left-radius: var(--btnHeight);
    }
    & > :last-child {
        border-top-right-radius: var(--btnHeight);
        border-bottom-right-radius: var(--btnHeight);
    }
    .btn {
        border-radius: var(--btnHeight);
    }
    .code-editor,
    input,
    input:focus {
        font-size: var(--baseFontSize);
        font-family: var(--monospaceFontFamily);
        border: 0;
        background: none;
        min-height: 0;
        height: 100%;
        max-height: 100px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .cm-editor {
        flex-grow: 0;
        margin-top: auto;
        margin-bottom: auto;
    }
    label > i {
        line-height: inherit;
    }
    .search-options {
        flex-shrink: 0;
        width: 90px;
        .selected-container {
            border-radius: inherit;
            background: none;
            padding-right: 25px !important;
        }
        &:not(:focus-within) .selected-container {
            color: var(--txtHintColor);
        }
    }
    &:focus-within {
        color: var(--txtPrimaryColor);
        background: var(--baseAlt2Color);
    }
}
