:root {
    --baseFontFamily: 'Source Sans 3', sans-serif, emoji;
    --monospaceFontFamily: 'Ubuntu Mono', monospace, emoji;
    --iconFontFamily: 'remixicon';

    --txtPrimaryColor:  #1a1a24;
    --txtHintColor:     #617079;
    --txtDisabledColor: #a0a6ac;
    --txtInverseColor:  #ffffff;

    --primaryColor: #1a1a24;

    --bodyColor: #f8f9fa;

    --baseColor:     #ffffff;
    --baseAlt1Color: #e3e8ed;
    --baseAlt2Color: #d7dde3;
    --baseAlt3Color: #c9d0da;
    --baseAlt4Color: #a5b0c0;

    --infoColor:       #5499e8;
    --infoAltColor:    #cee2f8;
    --successColor:    #32ad84;
    --successAltColor: #c4eedc;
    --dangerColor:     #e34562;
    --dangerAltColor:  #f7cad2;
    --warningColor:    #ff944d;
    --warningAltColor: #ffd4b8;

    --overlayColor:   rgba(53, 71, 104, 0.28);
    --tooltipColor:   rgba(0, 0, 0, 0.85);
    --tooltipTxtColor: #ffffff;
    --shadowColor:    rgba(0, 0, 0, 0.06);
    --alertBorderColor: rgba(0, 0, 0, 0.05);
    --alertCodeBgColor: rgba(0, 0, 0, 0.1);
    --disabledOverlayColor: rgba(255, 255, 255, 0.45);
    --flatpickrArrowColor: rgba(57, 57, 57, 0.6);
    --flatpickrIconColor: rgba(0, 0, 0, 0.5);
    --flatpickrHoverColor: rgba(0, 0, 0, 0.1);

    --baseFontSize: 14.5px;
    --xsFontSize:   12px;
    --smFontSize:   13px;
    --lgFontSize:   15px;
    --xlFontSize:   16px;

    --baseLineHeight: 22px;
    --smLineHeight:   16px;
    --lgLineHeight:   24px;

    --inputHeight: 34px;

    --btnHeight:   40px;
    --xsBtnHeight: 22px;
    --smBtnHeight: 30px;
    --lgBtnHeight: 54px;

    --baseSpacing: 30px;
    --xsSpacing:   15px;
    --smSpacing:   20px;
    --lgSpacing:   50px;
    --xlSpacing:   60px;

    --wrapperWidth:   850px;
    --smWrapperWidth: 420px;
    --lgWrapperWidth: 1200px;

    --appSidebarWidth: 75px;
    --pageSidebarWidth: 235px;

    --baseAnimationSpeed: 150ms;
    --activeAnimationSpeed: 70ms;
    --entranceAnimationSpeed: 250ms;

    --baseRadius: 4px;
    --lgRadius:   12px;
    --btnRadius:  4px;

    // https://developer.mozilla.org/en-US/docs/Web/CSS/accent-color
    accent-color: var(--primaryColor);
}

:root.theme-dark {
    --txtPrimaryColor:  #dcdcdc;
    --txtHintColor:     #89949b;
    --txtDisabledColor: #586069;
    --txtInverseColor:  #1a1a24;

    --primaryColor: #dcdcdc;

    --bodyColor: #16161a;

    --baseColor:     #1c1c21;
    --baseAlt1Color: #232329;
    --baseAlt2Color: #292930;
    --baseAlt3Color: #303038;
    --baseAlt4Color: #42424e;

    --infoColor:       #5499e8;
    --infoAltColor:    #2a3d52;
    --successColor:    #32ad84;
    --successAltColor: #224238;
    --dangerColor:     #e34562;
    --dangerAltColor:  #4f2a33;
    --warningColor:    #ff944d;
    --warningAltColor: #523a2a;

    --overlayColor:   rgba(0, 0, 0, 0.5);
    --tooltipColor:   rgba(255, 255, 255, 0.9);
    --tooltipTxtColor: #1a1a24;
    --shadowColor:    rgba(0, 0, 0, 0.2);
    --alertBorderColor: rgba(255, 255, 255, 0.1);
    --alertCodeBgColor: rgba(255, 255, 255, 0.1);
    --disabledOverlayColor: rgba(0, 0, 0, 0.2);
    --flatpickrArrowColor: rgba(255, 255, 255, 0.6);
    --flatpickrIconColor: rgba(255, 255, 255, 0.5);
    --flatpickrHoverColor: rgba(255, 255, 255, 0.1);
}


// Maps
// ----
$colorsMap: (
    "primary":     var(--primaryColor),
    "info":        var(--infoColor),
    "info-alt":    var(--infoAltColor),
    "success":     var(--successColor),
    "success-alt": var(--successAltColor),
    "danger":      var(--dangerColor),
    "danger-alt":  var(--dangerAltColor),
    "warning":     var(--warningColor),
    "warning-alt": var(--warningAltColor),
);

$sidesMap: (
    "t": "top",
    "r": "right",
    "b": "bottom",
    "l": "left",
);

$sizesMap: (
  "base": var(--baseSpacing),
  "xs":   var(--xsSpacing),
  "sm":   var(--smSpacing),
  "lg":   var(--lgSpacing),
  "xl":   var(--xlSpacing),
);
