name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, darwin]
        goarch: [amd64, arm64]
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'
    
    - name: Build
      env:
        GOOS: ${{ matrix.goos }}
        GOARCH: ${{ matrix.goarch }}
        CGO_ENABLED: 0
      run: |
        go build -v -o pbsync-${{ matrix.goos }}-${{ matrix.goarch }} .
    
    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: pbsync-${{ matrix.goos }}-${{ matrix.goarch }}
        path: pbsync-${{ matrix.goos }}-${{ matrix.goarch }}

